<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <%= data.length-1 %>
    <h1><a href="<%= data[data.length-1].url %>" target="_blank"><%- data[data.length-1].title %></a></h1><!-- == with html tags or  - for html tags avoid  -->
    <figure >
<% if (typeof data[data.length-1].imgt !== 'undefined') { %>
  <img src=<%= data[data.length-1].imgt %> />
<% } else { %>
    <img src=<%= data[data.length-1].img %> />
<% } %>
     
      <figcaption>
        <%- data[data.length-1].description %>
      </figcaption>
    </figure>
    <% if(data[data.length-1].video) { %>
     <video controls poster="<%= data[data.length-1].img %>">
      <source src="<%= data[data.length-1].video %>" />
    </video>
    <% } %>
  </body>
</html>
